<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.core.mapper.system.ButtonMapper">

	<resultMap id="ButtonResult"  type="ButtonModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="moduleId" column="MODULE_ID" jdbcType="INTEGER" />
		<result property="pageId" column="PAGE_ID" jdbcType="INTEGER" />
		<result property="btnType" column="BTN_TYPE" jdbcType="VARCHAR" />
		<result property="btnCode" column="BTN_CODE" jdbcType="VARCHAR" />
		<result property="btnName" column="BTN_NAME" jdbcType="VARCHAR" />
		<result property="iconCls" column="ICON_CLS" jdbcType="VARCHAR" />
		<result property="funName" column="FUN_NAME" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="ButtonModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,MODULE_ID,PAGE_ID,BTN_TYPE,BTN_CODE,BTN_NAME,ICON_CLS,FUN_NAME
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="ButtonModel">
		INSERT INTO CD_O_BUTTON
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			MODULE_ID,
			PAGE_ID,
			BTN_TYPE,
			BTN_CODE,
			BTN_NAME,
			ICON_CLS,
			FUN_NAME
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ moduleId,jdbcType=INTEGER},
			#{ pageId,jdbcType=INTEGER},
			#{ btnType,jdbcType=VARCHAR},
			#{ btnCode,jdbcType=VARCHAR},
			#{ btnName,jdbcType=VARCHAR},
			#{ iconCls,jdbcType=VARCHAR},
			#{ funName,jdbcType=VARCHAR}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_O_BUTTON
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			MODULE_ID ,
			PAGE_ID ,
			BTN_TYPE ,
			BTN_CODE ,
			BTN_NAME ,
			ICON_CLS ,
			FUN_NAME 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.moduleId,jdbcType=INTEGER},
				#{item.pageId,jdbcType=INTEGER},
				#{item.btnType,jdbcType=VARCHAR},
				#{item.btnCode,jdbcType=VARCHAR},
				#{item.btnName,jdbcType=VARCHAR},
				#{item.iconCls,jdbcType=VARCHAR},
				#{item.funName,jdbcType=VARCHAR}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="ButtonModel" >
		UPDATE CD_O_BUTTON 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="moduleId != null">MODULE_ID = #{ moduleId,jdbcType=INTEGER},</if>
		<if test="pageId != null">PAGE_ID = #{ pageId,jdbcType=INTEGER},</if>
		<if test="btnType != null">BTN_TYPE = #{ btnType,jdbcType=VARCHAR},</if>
		<if test="btnCode != null">BTN_CODE = #{ btnCode,jdbcType=VARCHAR},</if>
		<if test="btnName != null">BTN_NAME = #{ btnName,jdbcType=VARCHAR},</if>
		<if test="iconCls != null">ICON_CLS = #{ iconCls,jdbcType=VARCHAR},</if>
		<if test="funName != null">FUN_NAME = #{ funName,jdbcType=VARCHAR}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_O_BUTTON 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.moduleId != null">MODULE_ID = #{item.moduleId,jdbcType=INTEGER},</if>
			<if test="item.pageId != null">PAGE_ID = #{item.pageId,jdbcType=INTEGER},</if>
			<if test="item.btnType != null">BTN_TYPE = #{item.btnType,jdbcType=VARCHAR},</if>
			<if test="item.btnCode != null">BTN_CODE = #{item.btnCode,jdbcType=VARCHAR},</if>
			<if test="item.btnName != null">BTN_NAME = #{item.btnName,jdbcType=VARCHAR},</if>
			<if test="item.iconCls != null">ICON_CLS = #{item.iconCls,jdbcType=VARCHAR},</if>
			<if test="item.funName != null">FUN_NAME = #{item.funName,jdbcType=VARCHAR}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_O_BUTTON
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_O_BUTTON
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_O_BUTTON
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="ButtonResult">
		SELECT *
		FROM CD_O_BUTTON WHERE DELETED_FLAG='0' AND STATUS = '1' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="ButtonResult" >
		SELECT *
		FROM CD_O_BUTTON WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="ButtonResult" >
		SELECT *
		FROM CD_O_BUTTON
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="ButtonResult" >
		SELECT *
		FROM CD_O_BUTTON
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="ButtonResult"> ${sql} </select>

</mapper>

