<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.core.mapper.system.PrcOrderMapper">

	<resultMap id="PrcOrderResult"  type="PrcOrderModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR" />
		<result property="orderName" column="ORDER_NAME" jdbcType="VARCHAR" />
		<result property="inParam" column="IN_PARAM" jdbcType="VARCHAR" />
		<result property="operaClass" column="OPERA_CLASS" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="executeDate" column="EXECUTE_DATE" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="PrcOrderModel_Column_List">
		ROW_ID,STATUS,DELETED_FLAG,ORDER_NO,ORDER_NAME,IN_PARAM,OPERA_CLASS,NOTES,CREATE_ID,CREATE_DATE,FARM_ID,COMPANY_ID,EXECUTE_DATE
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="PrcOrderModel">
		INSERT INTO SYS_L_PRC_ORDER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			STATUS,
			DELETED_FLAG,
			ORDER_NO,
			ORDER_NAME,
			IN_PARAM,
			OPERA_CLASS,
			NOTES,
			CREATE_ID,
			CREATE_DATE,
			FARM_ID,
			COMPANY_ID,
			EXECUTE_DATE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ orderNo,jdbcType=VARCHAR},
			#{ orderName,jdbcType=VARCHAR},
			#{ inParam,jdbcType=VARCHAR},
			#{ operaClass,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ executeDate,jdbcType=TIMESTAMP}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO SYS_L_PRC_ORDER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			STATUS ,
			DELETED_FLAG ,
			ORDER_NO ,
			ORDER_NAME ,
			IN_PARAM ,
			OPERA_CLASS ,
			NOTES ,
			CREATE_ID ,
			CREATE_DATE ,
			FARM_ID ,
			COMPANY_ID ,
			EXECUTE_DATE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.orderNo,jdbcType=VARCHAR},
				#{item.orderName,jdbcType=VARCHAR},
				#{item.inParam,jdbcType=VARCHAR},
				#{item.operaClass,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.executeDate,jdbcType=TIMESTAMP}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="PrcOrderModel" >
		UPDATE SYS_L_PRC_ORDER 
		<set>
		<if test="status != null">STATUS = #{ status,jdbcType=VARCHAR},</if>
		<if test="orderNo != null">ORDER_NO = #{ orderNo,jdbcType=VARCHAR},</if>
		<if test="orderName != null">ORDER_NAME = #{ orderName,jdbcType=VARCHAR},</if>
		<if test="inParam != null">IN_PARAM = #{ inParam,jdbcType=VARCHAR},</if>
		<if test="operaClass != null">OPERA_CLASS = #{ operaClass,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="executeDate != null">EXECUTE_DATE = #{ executeDate,jdbcType=TIMESTAMP}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE SYS_L_PRC_ORDER 
			<set>
			<if test="item.status != null">STATUS = #{ item.status,jdbcType=VARCHAR},</if>
			<if test="item.orderNo != null">ORDER_NO = #{item.orderNo,jdbcType=VARCHAR},</if>
			<if test="item.orderName != null">ORDER_NAME = #{item.orderName,jdbcType=VARCHAR},</if>
			<if test="item.inParam != null">IN_PARAM = #{item.inParam,jdbcType=VARCHAR},</if>
			<if test="item.operaClass != null">OPERA_CLASS = #{item.operaClass,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.executeDate != null">EXECUTE_DATE = #{item.executeDate,jdbcType=TIMESTAMP}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  SYS_L_PRC_ORDER
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SYS_L_PRC_ORDER
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SYS_L_PRC_ORDER
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="PrcOrderResult">
		SELECT *
		FROM SYS_L_PRC_ORDER WHERE DELETED_FLAG='0' AND STATUS = '1' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="PrcOrderResult" >
		SELECT *
		FROM SYS_L_PRC_ORDER WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="PrcOrderResult" >
		SELECT *
		FROM SYS_L_PRC_ORDER
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="PrcOrderResult" >
		SELECT *
		FROM SYS_L_PRC_ORDER
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="PrcOrderResult"> ${sql} </select>

</mapper>

